/* Write your CSS here */

.bg-container {
  height: 100vh;
  background-color: #ffd569;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CONTAINER {
  background-color: #ffffff;
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.heading {
  font-family: roboto;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.highlighter {
  color: #ffd569;
}

.buttons-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.Mango-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Banana-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IMAGE {
  height: 300px;
  width: 300px;
}

.button1 {
  color: #ffffff;
  height: 30px;
  width: 100px;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 5px;
}

.button2 {
  color: #ffffff;
  height: 30px;
  width: 100px;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 5px;
}
